@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product List";
    Pager pager = new Pager();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;

    }
}

<h3>@ViewData["Title"]</h3>
<p>
    <a asp-action="Create" class="btn btn-primary">Create A new Product</a>
</p>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Id )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name )
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories.CategoryName)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any()){
        
            @foreach(var product in Model){
                <tr>
                    <td>
                        @Html.DisplayFor(model => product.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Categories.CategoryName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }  
        }
        else{
            <tr>
                <td colspan="5">
                    <div>
                        Products Not Available in database
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Pager" model="@pager" />